body,
html {
    width: 100%;
    height: 100%;
}

.container,
.navbar {
    padding-left: 0;
    padding-right: 0;
}

/* Плавні зміни властивостей лінків */
a {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

/*************************************/
/* Зміни CSS коду розпочинати звідси */
/*************************************/

header .row {
    min-height: 100vh;
} 

section {
    min-height: 100vh;    /* !!! Тимчасово для відладки !!! Висота секцій рівна висоті екрану */
    padding: 50px 0;  /* Внітрішні відступи зверху та знизу у секціях <section> */
}

 #s2,  {
    background-color: #999; /* Колір фону для секцій #s2, #s4 */
}

#s4 {
    line-height: 3;
}

#s4 a{
    color: black;
}

#s4 a:hover{
    color: hotpink;
}
.social{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    margin-top: -250px;
}

/**************************************/
/* Зміна властивостей для breakpoints */
/**************************************/

@media screen and (max-width:575px) {
    .container,
    .navbar {
        padding-left: 15px;    /* Для Small додати відступи */
        padding-right: 15px;   /* зліва та справа у .container та .navbar */
    }
@media screen and (max-width:376px) {
    .social{
        
       display: flex;
    flex-direction: column;
    justify-content: center;
        margin-top: 25px;
   
  
    }
    }
    

    /* Приклад зміни відступів зверху, знизу для секцій на Small екранах */

    section {
        padding: 25px 0;
    }

}